* {
    color: #d30404;
    color: #000000;
    color: #FF8080;
    color: #ff5c70;
    color: #3bc2cb;
    color: #d9e6f6;
    color: #083041;
    color: #259ca5;

    color: #00e7ec;
    color: #27b0ff;
    color: #16c7f7;
    /*  circle */
}